.profile {

  .profile_cover {
    max-height: 100%;
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    min-height: 250px;
    border-radius: 12px;

    &:before {
      position: absolute;
      content: '';
      z-index: 1;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 60%;
      opacity: 0.5;
      border-radius: inherit;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #212529 60%);
      background-blend-mode: color-burn;
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      right: 0;
      bottom: 0;
      left: 50%;
      display: block;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }

  }

  .profile_details {
    position: relative;
    margin-top: -110px;
    z-index: 2;
    margin-bottom: 20px;
    text-align: center;

    .profile_image {
      margin-bottom: 12px;

      img {
        width: 120px;
        border-radius: 100%;
        border: 3px solid white;
      }
    }

    .profile_details_info {
      display: block;
      margin-top: -16px;

      h1 {
        margin-bottom: 7px;
        color: #464646;
        text-transform: capitalize;
        font-size: 29px;
        font-weight: 600;
      }

      p {
        margin-bottom: 0;
        margin-top: 0;
        color: #9c9c9c;
      }

    }
  }

  .profile_about_wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-columns: 8fr 4fr;
    grid-template-areas:
            "posts about";
    margin: 0;
    padding: 0;
    list-style: none;
    position: unset;

    .profile_posts_wrapper {
      display: block;
      grid-area: posts;
    }

    .profile_about {
      grid-area: about;
      padding-left: 30px;

      h3 {
        font-size: 21px;
        line-height: 1.4;
        font-weight: 600;
        color: #545454;
      }

      .list_group_item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        svg {
          font-size: 19px;
        }

        h5 {
          margin-bottom: 0;
          margin-top: 0;
          font-weight: 500;
          display: flex;
          font-size: 15.5px;

          span {
            margin-bottom: 0;
            font-weight: 600;
            margin-left: 8px;
          }
        }
      }

      .social_networks {
        display: flex;
        align-items: center;

        .social_networks_item {
          display: inline-block;
          vertical-align: middle;
          color: #9c9c9c;
          &:hover {
            color: #1a73e8;
          }

          svg {
            font-size: 30px;
          }
        }

      }
    }
  }

  .personal_data {
    margin-bottom: 20px;
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-columns: 2fr 10fr;
    grid-template-areas: "logo text";

    > img {
      grid-area: logo;
      display: inline-block;
      width: 160px;
    }

    .text {
      grid-area: text;
      padding: 15px;

      article {
        font-size: 16px;
        margin-bottom: 4pt;

        &.looking_for_job {

          > span {
            vertical-align: middle;
            display: inline-block;
            width: 22pt;
            margin-left: 6pt;

            img {
              width: 100%;
            }
          }
        }
      }

      .name {
        font-size: 25px;
        margin-bottom: 15px;
      }
    }
  }

}