.nav {
    grid-area: nav;
    margin-right: 5px;
    padding: 15px;
    background: #00B75A;

    > div {
        margin-bottom: 3px;
        color: white;

        &.settings {
            margin-top: 80px;
            margin-bottom: 20px;
        }
    }

    .item {
        color: white;
        text-decoration: none;
        font-size: 23px;

        &.active {
            color: gold;
            text-decoration: underline;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}
