.friend {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3%;

    .img_block {
        width: 50px;
        height: 50px;
        border-radius: 100px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .name {
        text-align: center;
        font-size: 13px;
    }
}
