.form-control {
  margin-bottom: 10px;

  &.error {
    input, textarea {
      border: 1px solid red;
    }
    span {
      color: red;
    }
  }
}

.form-summary-error {
  border: 1px solid red;
  padding: 6px;
  color: #c70000;
}