$main_color: #00B75A;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
  margin: 0;
  font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;

  hr {
    overflow: visible;
    text-align: inherit;
    margin: 14px 0 14px 0;
    border: 0;
    border-top: 1px solid #ebebee;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.app-wrapper {
  display: block;
}

.app-wrapper-content {
  position: relative;
  z-index: 5;
  display: block;
  margin-left: 275px;
  padding-top: 65px;
  overflow: visible;
  transition: all 0.45s cubic-bezier(0, 0, 0, 1.09);

  .app-wrapper-content-inner {
    display: block;
    padding: 20px;
    margin: auto;
    padding-bottom: 0;
  }
}


@media (min-width: 1200px) {
  .app-wrapper-content-inner {
    max-width: 1000px;
    padding: 25px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1600px) {
  .app-wrapper-content-inner {
    max-width: 1200px;
  }
}

@media (max-width: 1260px) {
  .app-wrapper-content {
    margin-left: 0 !important;
    padding-top: 60px;
    background: white;

    .app-wrapper-content-inner {
      padding: 15px;
    }
  }

}

.mt-0 {
  margin-top: 0;
}