.top_imag {
    max-width: 100%;

    img {
        width: 100%;
    }

}

.personal_data {
    margin-bottom: 20px;
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-columns: 2fr 10fr;
    grid-template-areas:
            "logo text";

    img {
        grid-area: logo;
        display: inline-block;
        width: 160px;
    }

    .text {
        grid-area: text;
        padding: 15px;

        article {
            font-size: 20px;
        }

        .name {
            font-size: 25px;
            margin-bottom: 15px;
        }
    }
}

